<a href="https://colab.research.google.com/github/Axc3129/BTE320-in-class/blob/main/Inclass_assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Assignment 1

# Calculate the surface area cylinder
pi = 3.14 # Pi
h = 10 # Height
r = 3 # Radius

# Calc Area
Area = 2*pi*r*h + 2*pi*r**2
# Display result on screen
print (Area)

244.92000000000002

In [ ]:
# Assignment 2 rock paper scissor
continue_playing =input('Play? yes or no: ')
while continue_playing == 'yes':

  p1 = input('Enter player 1 move(r-> rock, p-> paper, s-> scissors): ')
  p2 = input('Enter player 2 move (r-> rock, p-> paper, s-> scissors): ')

  if p1 == p2:
    print ("Draw")
  elif p1 == 'r' and p2 == 's':
    print ("Player 1 wins")
  elif p1 == 'p' and p2 == 'r':
    print ("Player 1 wins")
  elif p1 == 's' and p2 == 'p':
    print ("Player 1 wins")
  elif p1 == 's' and p2 == 'r':
    print ("Player 2 wins")
  elif p1 == 'r' and p2 == 'p':
    print ("Player 2 wins")
  elif p1 == 's' and p2 == 'p':
    print ("Player 2 wins")

  continue_playing =input('Play again? yes or no: ')

Play? yes or no: yes
Enter player 1 move(r-> rock, p-> paper, s-> scissors): p
Enter player 2 move (r-> rock, p-> paper, s-> scissors): r
Player 1 wins
Play again? yes or no: yes
Enter player 1 move(r-> rock, p-> paper, s-> scissors): p
Enter player 2 move (r-> rock, p-> paper, s-> scissors): s
Play again? yes or no: no

In [ ]:
# Assignment 3
n1 = float(input('Enter first number: '))
n2 = float(input('Enter second number: '))
symbol= input('Enter symbol (+,-,*,/,**): ')

if symbol == '+':
  print (n1+n2)
elif symbol == '-':
  print (n1-n2)
elif symbol == '*':
  print (n1*n2)
elif symbol == '/':
  print (n1/n2)
elif symbol == '**':
  print (n1**n2)

Enter first number: 8
Enter second number: 8
Enter symbol (+,-,*,/,**): +
16.0

In [ ]:
# Assignment 4

flat_rate = 5
hourly_rate = 2.5
Minimum_fee = 10
Maximum_fee = 20

for i in range (1,9):
 charge = flat_rate + i * hourly_rate
 if charge < Minimum_fee:
  charge = Minimum_fee
 elif charge > Maximum_fee:
  charge = Maximum_fee
 print(i, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
# Assignment 5

print('Ad$', 'Profit')

for ad in range (0,201,25):
  additionalAttendees = round(2 * ad ** 0.5)
  profit = (20 + additionalAttendees) * 10 - ad - 200
  print(ad,' ', profit)

Ad$ Profit
0   0
25   75
50   90
75   95
100   100
125   95
150   90
175   85
200   80

In [ ]:
# Assignment 6

L = []

item = int(input('Give a value: '))

while item != 0:
  L.append(item)
  item = int(input('Give another value: '))

print(L)

Give a value: 9
Give another value: 99
Give another value: 86
Give another value: 8700
Give another value: 987
Give another value: 0
[9, 99, 86, 8700, 987]

In [ ]:
# Assignment 7

L1 = [1,2,3,4]
L2 = [1,2,5,6]

for item in L1[:]: #slice to create new object so that they are both at same length
  if item in L2:
    L1.remove(item)

print(L1)

[3, 4]

In [ ]:
# Assignment 8

months = {} #empty dictionary

names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for idx in numbers:
  months[idx] = names[idx-1]

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

iterating over a list, have to - 1 for names bc if not it will start in feb

In [ ]:
# Assignment 9 House Hunting

annual_salary = float(input('Enter your annual salary: '))
portion_saved = float(input('Enter your portion of salary saved: '))
total_cost = float(input('Enter the cost of your dream home: '))

portion_down_payment = 0.25
current_savings = 0
r = 0.04

monthly_salary = annual_salary / 12
down_payment = total_cost * portion_down_payment

months = 0
while current_savings < down_payment:
  current_savings += current_savings * (r / 12) + monthly_salary * portion_saved
  months += 1
print('Number of months: ', months)

Enter your annual salary: 50000
Enter your portion of salary saved: 10000
Enter the cost of your dream home: 250000
Number of months:  1

In [ ]:
# Assignment 10

annual_salary = float(input('Enter your annual salary: '))
portion_saved = float(input('Enter your portion of salary to save: '))
total_cost = float(input('Enter the cost of your dream home: '))
semi_annual_raise = float(input('Enter the semi annual raise: '))

portion_down_payment = 0.25
current_savings = 0
r = 0.04
monthly_salary = annual_salary / 12
down_payment = total_cost * portion_down_payment

months = 0
while current_savings < down_payment:
  current_savings += current_savings * (r / 12) + monthly_salary * portion_saved
  months += 1
if months%6 == 0:
  monthly_salary += monthly_salary * semi_annual_raise
print('Number of months: ', months)

Enter your annual salary: 600000
Enter your portion of salary to save: 200
Enter the cost of your dream home: 250000
Enter the semi annual raise: 1000
Number of months:  1

In [ ]:
# Assignment 11

def range_check(number, low, high):
  if number >= low and number <= high:
    return True
  else:
    return False

print(range_check())

SyntaxError: incomplete input (<ipython-input-23-5cad297e78a4>, line 9)

In [ ]:
def calcFee(hours):
  charge = 5 + hours * 2.5
  return charge

hours = float(input('Enter hours parked: '))

print('Charge:', calcFee(hours))

Enter hours parked: 4
Charge: 15.0

In [ ]:
def revS(s):
  if len(s) == 1:
    return s
  else:
    return revS(s[-1]) + revS(s[:-1])
revS('Hello')

'olleH'

In [9]:
"""
Function that calculates the weighted average of a list L, given weigths w
The function should handle the following exception error types:
- ZeroDivisionError (returns empty list)
- TypeError (returns empty list)
- any other unknown error (returns float ('nan'))
"""

def wAvg(L, w):
  try:
    res = []
    for i in range(len(L)):
      res.append(L[i] * w[i])
    return sum(res) / sum(w)
  except ZeroDivisionError:
    print('divided by zero')
    return []
  except TypeError:
    print('non-numerical object found')
    return []
  except:
    return float('nan')
    print('other')

L = [1,2,3]
w = [0.1, 0.3, 0.4]
wAvg(L, w)

2.375