<a href="https://colab.research.google.com/github/Axc3129/BTE320-in-class/blob/main/Inclass_assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Calculate surface area cylinder
pi = 3.14 # Pi
h = 10 # Height
r = 3 # Radius
# Calc Area
Area = 2*pi*r*h + 2*pi*r**2
# Display result on screen
print (Area)

244.92000000000002

In [ ]:
continue_playing =input('Play? yes or no: ')
while continue_playing == 'yes':

  p1 = input('Enter player 1 move(r-> rock, p-> paper, s-> scissors): ')
  p2 = input('Enter player 2 move (r-> rock, p-> paper, s-> scissors): ')

  if p1 == p2:
    print ("Draw")
  elif p1 == 'r' and p2 == 's':
    print ("Player 1 wins")
  elif p1 == 'p' and p2 == 'r':
    print ("Player 1 wins")
  elif p1 == 's' and p2 == 'p':
    print ("Player 1 wins")
  elif p1 == 's' and p2 == 'r':
    print ("Player 2 wins")
  elif p1 == 'r' and p2 == 'p':
    print ("Player 2 wins")
  elif p1 == 's' and p2 == 'p':
    print ("Player 2 wins")

  continue_playing =input('Play again? yes or no: ')

Play? yes or no: yes
Enter player 1 move(r-> rock, p-> paper, s-> scissors): p
Enter player 2 move (r-> rock, p-> paper, s-> scissors): r
Player 1 wins
Play again? yes or no: yes
Enter player 1 move(r-> rock, p-> paper, s-> scissors): p
Enter player 2 move (r-> rock, p-> paper, s-> scissors): s
Play again? yes or no: no

In [ ]:
n1 = float(input('Enter first number: '))
n2 = float(input('Enter second number: '))
symbol= input('Enter symbol (+,-,*,/,**): ')

if symbol == '+':
  print (n1+n2)
elif symbol == '-':
  print (n1-n2)
elif symbol == '*':
  print (n1*n2)
elif symbol == '/':
  print (n1/n2)
elif symbol == '**':
  print (n1**n2)

Enter first number: 8
Enter second number: 8
Enter symbol (+,-,*,/,**): +
16.0

In [ ]:
flat_rate = 5
hourly_rate = 2.5
Minimum_fee = 10
Maximum_fee = 20

for i in range (1,9):
 charge = flat_rate + i * hourly_rate
 if charge < Minimum_fee:
  charge = Minimum_fee
 elif charge > Maximum_fee:
  charge = Maximum_fee
 print(i, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
print('Ad$', 'Profit')

for ad in range (0,201,25):
  additionalAttendees = round(2 * ad ** 0.5)
  profit = (20 + additionalAttendees) * 10 - ad - 200
  print(ad,' ', profit)

Ad$ Profit
0   0
25   75
50   90
75   95
100   100
125   95
150   90
175   85
200   80

In [ ]:
L = []

item = int(input('Give a value: '))

while item != 0:
  L.append(item)
  item = int(input('Give another value: '))

print(L)

Give a value: 9
Give another value: 99
Give another value: 86
Give another value: 8700
Give another value: 987
Give another value: 0
[9, 99, 86, 8700, 987]

In [ ]:
L1 = [1,2,3,4]
L2 = [1,2,5,6]

for item in L1[:]: #slice to create new object so that they are both at same length
  if item in L2:
    L1.remove(item)

print(L1)

[3, 4]

In [16]:
months = {} #empty dictionary

names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for idx in numbers:
  months[idx] = names[idx-1]

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

iterating over a list, have to - 1 for names bc if not it will start in feb